.navbar {
  background: #111827;
  color: white;
  padding: 16px;
}

.navbar h2 {
  margin: 0;
  display: inline-block;
}

.navbar-links {
  margin-left: 20px;
  display: inline-block;
}

.navbar-links a {
  color: white;
  margin-right: 12px;
}
